*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter, Oswald, sans-serif ;
}


h1, h3{
  font-family: Oswald;
  color: #d4a520;
}

h1{
  font-size: 2.8rem;
}

h3{
  font-size: 1.3rem;
}

main{
  width: 100%;
  height: 100%;
}

#folder{
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to left, rgba(2, 24, 95, 0.7), rgb(29, 30, 87, 0.5)),
  url('./assets/img/themis.jpg') no-repeat center center;
  background-size: cover;
  gap: 5rem;
  color: aliceblue;
  padding: 0 2.5rem;
  border-bottom: 3px solid; 
  border-image: linear-gradient(to right, transparent, #fabc11) 0.8;
}

#folder p{
  font-size: 1.3rem;
}

#logo{
  width: 7rem;
}

#folderInfos{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
}

#folderImg{
  width: 27rem;
  margin-top: 1.5rem;
  display: flex;
  align-items: flex-end;
}

#folderImg img{
  width: 100%;
}

#contactBtn{
  min-height: 7vh;
  width: 15rem;
  color: rgb(54, 54, 54);
  background-color: #d4a520;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;font-weight: 600;
  font-size: 0.9rem;
  border: 0;
  box-shadow: none;
  cursor: pointer;
  border-radius: 20px;
}

#services{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  gap: 2rem;
  background-color: rgb(236, 236, 236);
}

#serviceTitles{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid  rgb(71, 71, 71);
  padding-bottom: 0.2rem;
  width: 40%;
}

#serviceTitles h1{
  font-family: Inter;
  color: rgb(71, 71, 71);
  
  
}

#servicesCard{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.card {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  width: 22rem;
  padding: 1rem;
  background-color: rgb(2, 24, 95);
  border-left: 3px solid #d4a520;
  border-top-right-radius: 3rem;
  border-bottom-left-radius: 3rem;
  color: white;
  
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
  
  gap: 1rem;
}

.card h3{
  text-align: center;
}

.card p{
  text-align: center;
}



#about{
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to left, rgba(2, 24, 95, 0.9), rgb(29, 30, 87, 0.8)),
  url('./assets/img/balance.jpg') no-repeat center center;
  background-size: cover;
  gap: 5rem;
  color: aliceblue;
  padding-top: 2rem;
  padding: 0 2.5rem;
  border-bottom: 3px solid; 
  border-top: 3px solid; 
  border-image: linear-gradient(to right, #fabc11, transparent) 0.8;
}

#about p{
  font-size: 1.3rem;
}

#contact{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0 ;
  flex-direction: column;
  gap: 2rem;
  color: rgb(71, 71, 71);
  background-color: rgb(236, 236, 236);
}

#contact h1{
  font-family: Inter;
  
}

#contact p{
  font-size: 1.3rem;
}

.spanInfo{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

#contactInfos{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0 2.5rem;
  
  background-color: rgb(236, 236, 236);
}

footer{
  background: linear-gradient(to left, rgba(2, 24, 95, 0.9), rgb(29, 30, 87, 0.8)),
  url('./assets/img/table.jpg') no-repeat center center;
  background-size: cover;
  padding: 1.5rem 0 ;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem; 
  border-top: 3px solid; 
  border-image: linear-gradient(to right, #fabc11, transparent) 0.8;
  width: 100%;
  color: white;
}

footer a{
  text-decoration: none;
  color: white;
}

footer img{
  width: 13rem;
}

#contactUsInfos{

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  
}

#atend{
  margin: 1.3rem  0;
  font-weight: 600;
}

#footerContact{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



@media(max-width: 425px){
  h1{
    font-size: 2rem;
  }

  p{
    font-size: 0.8rem;
  }


  #contactInfos{
      gap: 1rem;
  }
 
  #contactInfos p{
      font-size: 1rem;
  }
 

  #folder{
    flex-direction: column;
    gap: 2rem;
    width: 100%;
  }

  #logo{
    margin-top: 2rem;
  }

  #folderInfos{
    width: 100%;
    margin-top: 2rem;
  }

  #folderInfos p{
    font-size: 1rem;
  }
  #services{
    width: 100%;
  }

  #serviceTitles{
    width: 80%;
  }

  #serviceTitles h1{
    font-size: 1.7rem;
  }




  #folderImg{justify-content: center;
  }

  #folderImg img{
    width: 60%;
  }

    #servicesCard{
      grid-template-columns: 1fr;
    }

    .card{
      width: 20rem;
    }

    #about{
      flex-direction: column-reverse;
      gap: 1rem;
      width: 100%;
    }

    footer{
      flex-direction: column;
      gap: 2rem;
      width: 100%;
    }

    footer img{
      width: 9rem;
    }
}
